---
layout: default
section_id: home
slides:
  - bg: images/slide-1.jpg
    title:
      text: World class English instruction for business professionals
      animation: bottom-to-top
      class: large-23 medium-11
    buttons:
      animation: bottom-to-top
      class: medium-12
      items:
        - text: Learn More
          url: http://themeforest.net/user/honryou/portfolio?ref=honryou
          class: boxed
  - bg: images/slide-3.jpg
    title:
      text: It is simple but powerful
      animation: bottom-to-top
      class: large-7 large-offset-5 medium-9 medium-offset-3
    buttons:
      animation: bottom-to-top
      class: large-7 large-offset-5 medium-9 medium-offset-3
      items:
        - text: Purchase Now
          url: http://themeforest.net/user/honryou/portfolio?ref=honryou
          class: boxed
  - bg: images/slide-3.jpg
    buttons:
      animation: bottom-to-top slow
      class: large-12
      items:
        - text: View Features
          url: http://themeforest.net/user/honryou/portfolio?ref=honryou
          class: boxed
        - text: Purchase Now
          url: http://themeforest.net/user/honryou/portfolio?ref=honryou
    infos:
      - text: "&nbsp;Creative and responsive design"
        animation: bottom-to-top
      - text: "&nbsp;Many helpful shortcodes"
        animation: bottom-to-top
      - text: "&nbsp;Simple but powerful theme options"
        animation: bottom-to-top
      - text: "&nbsp;Fully responsive"
        animation: bottom-to-top
boxes:
  - icon_class: fa fa-book
    title: By The Book Classes
    text:
      These are classes in which students follow a structured curriculum of National Geographic’s World Link learning series. World Link is National Geographic’s best-selling series for adult learners of English. Combining dynamic vocabulary with essential grammar and universal topics, World Link, helps learners to communicate confidently and fluently.
  - icon_class: fa fa-comments
    title: Conversation Classes
    text:
      Our teachers prepare discussions and activities in order to get students talking and putting into practice the English they already know. You'll work on pronunciation, fluency, and correction of mistakes as well as everyday expressions and colloquial English. These classes are focused on helping learners speak more like a native.
  - icon_class: fa fa-user
    title: Personalized Classes
    text:
      Our teachers will prepare custom cirriculum specific to your industry and company culture. Lessons will focus on grammar, conversation and vocabulary of your particular business in order to help you communicate with your international clientele.
  - icon_class: fa fa-language
    title: Translation Services
    text:
      Our professional translators can convert any documents you want translated into English. Our team of translators will ensure that your documents are translated correctly using an English that best suits your needs and your clientele. These services are available for everything from one-page menus to 100-page business reports.
  - icon_class: fa fa-search
    title: Proofreading
    text:
      Have something already written in English, but not confident about the quality of the English? We can help you make sure your documents are up to English standards. Our team of experts can proofread your documents to ensure that they are up to the standards of a native speaker before you send them off or present them.
  - icon_class: fa fa-group
    title: Out of Class Events
    text:
      We offer our students the chance to put their English into use at various out-of-class events. We want you to use the English you have learned with us! As a result we organize events that not only give you the chance to practice your English, but also to network with other EBA students. These events include: sports days, movie nights, inter-cambios, trivia nights, casual drinks and more.
milestones:
  - from: 0
    to: 69
    title: Projects Completed
  - from: 0
    to: 726
    title: Cups of coffee offered
  - from: 0
    to: 59
    title: Happy clients
  - from: 0
    to: 21
    title: Articles Published

testimonials:
  - text: "My job requires me to work late. Once home, my children, house, wife and daily life all need attention as well. That´s the reason why I attend English classes at work. For me classes during lunch at the office are the best way for me to improve, or at least maintain my ability to communicate in English."
    author: Jose-Manuel
    age: 48
    position: Telefonica Communications
  - text: "The classes are very dynamic and well structured.  We often spend time discussing current issues or topics related to our personal English needs. Conclusion: Highly recommended!"
    author: Antonio
    age: 43
    position: Telefonica Communications
  - text: "I was signed up at your typical English Academy for two years and the experience was terrible. I was wasting my money and my English wasn’t improving. With EBA I’ve had the exact opposite experience. Now I find myself looking forward to my Tuesday and Thursday break when I attend English class. I wouldn’t recommend any other option to improve your English!"
    author: Juan-Vicente
    age: 43
    position: Telefonica Communications
  - text: "Whenever I have a doubt, a specific problem or question, I turn to my EBA teacher, Michael to help me with it.  He’s always able to explain things to me in an easy way and then find ways to make me use what I’ve learnt to ensure I remember it. I’ve learnt a lot with EBA! Furthermore, having classes where I choose is extremely convenient and saves me a ton of time!"
    author: Lourdes
    age: 45
    position: Graphic Designer
  - text: "I was tired of traditional English school methods that focused on grammar and writing. I decided to have lessons with EBA and I couldn't have chosen a better option. We covered a variety of topics, I learned very useful idioms and slang expressions that have helped me excel in my career and social life."
    author: Teresa
    age: 22
    position: Universidad Autónoma de Madrid
  - text: "I have classes with EBA once per week for an hour each time. The hour always seems to pass by so quickly, yet we seem to cover so much. Classes with EBA have helped me with my studies and have prepared me for a career that I desire."
    author: Henar
    age: 22
    position: Universidad Autónoma de Madrid


clients:
  - images/@stock/client-1.png
  - images/@stock/client-2.png
  - images/@stock/client-3.png
  - images/@stock/client-4.png
  - images/@stock/client-5.png
  - images/@stock/client-6.png

---

<!-- <div class='advanced mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.index == 1 %}
          <li class='current'></li>
        {% else %}
          <li></li>
        {% endif %}
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.index == 1 %}
          {% assign class = "static" %}
        {% else %}
          {% assign class = '' %}
        {% endif %}

        <li class='frame {{class}}'>
          <div class='bg' style='background-image: url({{slide.bg}});'></div>
          {% if slide.infos %}
            {% for info in slide.infos %}
              <div class='info{{forloop.index}} {{info.animation}}' style=''>
                <div class='row'>
                  <div class='medium-10 large-8 columns'>
                    <p class='fa fa-check' style='color: #333;'>{{info.text}}</p>
                    <div class='spacing'></div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div class='title {{slide.title.animation}}' style='color: rgb(255, 255, 255);'>
              <div class='row'>
                <div class='{{slide.title.class}} columns'>
                  <h2>{{slide.title.text}}</h2>
                </div>
              </div>
            </div>
          {% endif %}
          <div class='buttons-wrapper {{slide.buttons.animation}}' style=''>
            <div class='row'>
              <div class='{{slide.buttons.class}} columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a target="_blank" class='button {{button.class}}' href='{{button.url}}'>{{button.text}}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div> -->
<div class="full" id="hero">
  <div class="row">
    <div class="large-12 columns">
      <h1>World-class English training for businesses and hotels</h1>
      <a href="contact" class="button success">
        <span>BOOK YOUR</span>
        FREE CONSULTATION
      </a>
    </div>
  </div>
</div>
<div class='full'>
  <div class='row' id="about-blurb" style="max-width:90rem;">
    <div class='large-8 columns'>
      <h2>Break into the English speaking market</h2>
      <p>We help business professionals overcome language barriers and compete on an international scale by providing the English language skills they need to succeed.</p>
      <p>Are you ready to work in English?</p>
      <a href="contact" class="large button">WORK WITH US</a>
    </div>
    <div class="large-4 columns">
      <img src="images/logo2.png" alt="">
    </div>
  </div>
  <div class='three spacing'></div>
</div>
<div class='full' style='background: #f5f5f5'>
  <div class='row' id='homepage-services'>
    <div class='large-12 columns'>
      <div class='mod modBoxedTextSlider'>
        <div class='boxes'>
          {% for box in page.boxes %}
            <div class='box' style=''>
              <i class='{{box.icon_class}}'></i>
              <h4>{{box.title}}</h4>
              <!-- <p>{{box.text}}</p> -->
            </div>
          {% endfor %}
        </div>
      </div>
      <a href="services" class="button">Learn More</a>
    </div>
  </div>
  <div class='four spacing'></div>
</div>




<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" width="500" height="340" alt="" src="images/globe.jpg" />
    </div>
    <div class='medium-6 columns'>
      <div class='spacing'></div>
      <h2>Why is English Important?</h2>
      <div class='spacing'></div>
      <p>English is the dominant business language around the world and considered a necessity in many companies in order to operate in the global market. On a local level, English is vital for you and your business to be able to communicate effectively with its many foreign visitors; be it tourists, expats or international businessmen.</p>
      <div class='spacing'></div>
      <a class='button small' href='services'>Learn more</a>
    </div>
  </div>
  <div class='four spacing'></div>
  <div class='row'>
    <div class='medium-6 columns'>
      <div class='two spacing'></div>
      <h2>Why Choose EBA?</h2>
      <div class='spacing'></div>
      <ul class='shortcode-list'>
        <li>
          <i class='fa fa-check'></i>
          We come to you
        </li>
        <li>
          <i class='fa fa-check'></i>
          You decide the schedule
        </li>
        <li>
          <i class='fa fa-check'></i>
          Classes and material are catered to your needs
        </li>
        <li>
          <i class='fa fa-check'></i>
          Affordable
        </li>
      </ul>
      <div class='spacing'></div>
      <a class='button small' href='/services'>Learn more</a>
    </div>
    <div class='medium-6 columns'>
      <img class="fadeinright" width="500" height="400" alt="" src="images/boardroom.jpg" />
    </div>
  </div>
  <div class='four spacing'></div>
</div>




<!-- <div class='full parallax' style='background: #f5f5f5'>
  <div class='row'>
    {% for milestone in page.milestones %}
      <div class='medium-3 large-3 columns right-border left-border'>
        <div class='mod modMilestone no-icon'>
          <strong data-from='{{milestone.from}}' data-to='{{milestone.to}}'>&nbsp;</strong>
          <span>{{milestone.title}}</span>
          <div class='spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='four spacing'></div>
</div> -->
<div class='full no-padding' style='background: #444; color: #fff'>
  <div class='two spacing'></div>
  <div class='mod modCallToAction'>
    <div class='row'>
      <div class='medium-9 large-9 columns'>
        <p>Ready to upgrade your business English? Let's chat about how we can help you.</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='boxed button' href='contact'>Request A Call</a>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div>
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <i class='fa fa-quote-left' style='color: #F9CE06; font-size: 36px;'></i>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modTestimonials'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items centered-text'>
              {% for t in page.testimonials  %}
                <div class='item'>
                  <p class='quote'>{{t.text}}</p>
                  <p class='author'>- {{t.author}}, {{t.age}}, {{t.position}}</p>
                  <div class='two spacing'></div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class='spacing'></div>
        </div>
      </div>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
<!-- <div class='full parallax' style='background-image: url(../images/@stock/customers-bg.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modClients' data-slides_to_show='4'>
        <div class='clients'>
          {% for client in page.clients %}
            <div><img alt="" src="{{client}}" /></div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
</div> -->
<div id="contactModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="row">
    <div class="small-12 large-8 columns">
      <h2 id="modalTitle">Book A Free Consultation</h2>
      <p class="lead">Fill out the form below and we'll get in touch within 24 hours to discuss how we can help you and your business.</p>
      <!-- <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p> -->
    <form action="https://formspree.io/gbatesy@gmail.com" method="POST" id="contact_form">
    <div class="row">
      <div class="small-12 large-8 columns">
        <label>Full Name
          <input type="text" name="name" placeholder="Enter your name" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="small-12 large-8 columns">
        <label>Title
          <input type="text" name="title" placeholder="Title">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="small-12 large-8 columns">
        <label>Company Name
          <input type="text" name="company_name" placeholder="Company Name">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="small-12 large-8 columns">
        <label>Email Address
          <input type="text" name="email" placeholder="Your Email">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="small-12 large-8 columns">
        <label>Phone Number
          <input type="text" name="phone" placeholder="Your Phone Number">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 large-4 columns end">
        <label>I am a:
          <select name="format">
            <option value="Individual">Individual</option>
            <option value="Business">Business</option>
          </select>
        </label>
      </div>
      <div class="small-12 medium-6 large-4 columns end">
        <label>Looking for:
          <select name="looking_for">
            <option value="by_the_book">By The Book Classes</option>
            <option value="conversation_classes">Conversation Classes</option>
            <option value="personalized_classes">Personalized Classes</option>
            <option value="translation_services">Translation Services</option>
            <option value="proofreading_services">Proofreading Services</option>
            <option value="other">Other</option>
          </select>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <input type="submit" value="SUBMIT" class="submit button success" id="contactSubmitButton" />
      </div>
    </div>
  </form>
    </div>
    <div class="small-12 medium-4 columns show-for-large-up">
      <img src="images/logo2.png" alt="English Business Academy">
    </div>
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
